<!DOCTYPE html>
<html>
  <head>
    <title><%= configuration.project_label %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style type="text/css">
      :root {
        --site-font-family: Verdana;
        --site-color-black: hsl(0, 0%, 0%);
        --site-color-white: hsl(0, 0%, 100%);
      }

      body {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: var(--site-font-family);
        margin: 1rem 5rem;
      }
    </style>

    <script src="https://unpkg.com/htmx.org@1.8.4/dist/htmx.min.js"
            crossorigin="anonymous"
            integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV">
    </script>
  </head>

  <body>
    <!-- yield -->
  </body>
</html>
