<!DOCTYPE html>
<html>
  <head>
    <title><%= configuration.project_label %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link title="<%= configuration.project_label %> - Stylesheet" rel="stylesheet" href="/stylesheets/site.css" type="text/css">

    <script src="https://unpkg.com/htmx.org@1.8.5"
            crossorigin="anonymous"
            integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w">
    </script>
  </head>

  <body class="page">
    <!-- yield -->
  </body>
</html>
