<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title><!-- title --></title>

    <meta charset="utf-8">
    <meta name="description" content="A Hanamismith skeleton application.">
    <meta name="author" content="Hanamismith">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link title="<%= settings.project_label %>: Favicon"
          rel="icon"
          href="https://alchemists.io/images/projects/hanamismith/icons/favicon.ico"
          sizes="32x32">
    <!-- icon -->
    <link title="<%= settings.project_label %>: Apple Icon"
          rel="apple-touch-icon"
          href="https://alchemists.io/images/projects/hanamismith/icons/apple.png"
          type="image/png">
    <!-- manifest -->

    <!-- stylesheet -->
  </head>

  <body class="site-page">
    <!-- yield -->
  </body>
</html>
