<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title><!-- title --></title>

    <meta charset="utf-8">
    <meta name="description" content="A Hanamismith skeleton application.">
    <meta name="author" content="Hanamismith">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="htmx-config" content='{"allowScriptTags": false, "defaultSwapStyle": "outerHTML"}'>
    <meta name="view-transition" content="same-origin">

    <!-- favicon -->

    <!-- icon -->

    <!-- apple_icon -->

    <!-- manifest -->

    <!-- stylesheet -->

    <!-- javascript -->
  </head>

  <body class="site-page">
    <!-- flash:alert -->
    <!-- flash:notice -->
    <!-- yield -->
  </body>
</html>
